{% extends 'base.html' %}
{% block title %}Create Expense{% endblock %}
{% block content %}
    <h1>Create Expense</h1>
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <label for="name">Title</label>
            {{ form.title }}
            <label for="description">Description</label>
            {{ form.description }}
            <label for="imageUrl">Link to Image</label>
            {{ form.image_url }}
            <label for="price">Price</label>
            {{ form.price }}
            <input type="submit"
                   style="text-decoration: none; text-align: center; padding-top: 10px; height: 45px; width: 150px"
                   value="Create">
        </form>
    </div>
{% endblock %}
